.authentication {
  margin: auto;
  margin-top: 3vh;

  form {
    background-color: rgba(232, 232, 232, 0.5);
    padding: 25px;
  }
}

.auth-form-border {
  border-radius: 20px;
}

.btn-group {
  width: 100%;

  a {
    color: grey;
    padding: 3%;
    width: 50%;
  }

  .active {
    background-color: rgba(232, 232, 232, 0.5);
    color: navy;
    cursor: default;
    pointer-events: none;
    border-radius: 20px 20px 0 0;
  }
}

.signup-border {
  border-radius: 0 20px 20px 20px;
}

.login-border {
  border-radius: 20px 0 20px 20px;
}

@media (min-width: 992px) {
  .authentication{
    width: 50%;
  }
}
