.quicklinks {
  margin-top: 5vh;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fas, .far {
      font-size: 12rem;
      margin-top: 2vh;
    }
  }
}

.fa-search-dollar {
  color: green;
}

.fa-folder-open {
  color: deepskyblue;
}

.not-signed-in-container {
  width: 100vw;
  background: white image-url('stocks-background.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 92vh;
}

.landing-container {
  margin: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.landing {
  margin-top: 5vh;
  background: rgba(244, 244, 244, 0.9);
  display: flex;
  flex-direction: column;
  padding: 3vh;
  border-radius: 20px;
}

.landing-info {
  align-items: center;

  ul {
    font-size: 1.5rem;
  }
}
