.quicklinks {
  margin-top: 5vh;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fas, .far {
      font-size: 12rem;
      margin-top: 2vh;
    }
  }
}

.fa-search-dollar {
  color: green;
}

.fa-folder-open {
  color: deepskyblue;
}

.landing-container {
  justify-content: space-around;
}

.landing {
  background: rgba(244, 244, 244, 0.5);
  display: flex;
  flex-direction: column;
  padding: 3vh;
  border-radius: 20px;
}

.landing-info {
  align-items: center
}

.landing-form {
}
