.ticker {
  text-transform: uppercase;
}

.portfolio-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.refresh {
  border: none;
  border-radius: 30px;
  margin: 0 20px;
  padding: 10px;
  cursor: pointer;
  background: #777;

  .fa-sync-alt {
    color: white;
    font-size: 1.8rem;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.no-change {
  color: grey;
}

.check-price-btn {
  margin-bottom: 15px;
}

.transaction-menu {
  background-color: rgba(248, 248, 248, 0.5);
  padding: 2%;
  border-radius: 20px;
}

.message,
.sell-message {
  display: none;
  margin-top: 3%;
  padding: 20px;
  border-radius: 10px;
}

.message-success,
.sell-message-success {
  color: green;
  background-color: rgba(222, 248, 222, 0.5);
}

.message-error,
.sell-message-error {
  color: red;
  background-color: rgba(248, 222, 222, 0.5);
}

.price-per-share {
  cursor: default;
}

.total-price {
  font-weight: bold;
}
