.authentication {
  width: 50%;
  margin: auto;

  form {
    background-color: #eee;
    padding: 3%;
  }
}

.auth-edit {
  border-radius: 20px;
}

.btn-group {
  width: 100%;

  a {
    color: grey;
    padding: 3%;
    width: 50%;
  }

  .active {
    background-color: #eee;
    color: navy;
    cursor: default;
    pointer-events: none;
    border-radius: 20px 20px 0 0;
  }
}


.signup-border {
  border-radius: 0 20px 20px 20px;
}

.login-border {
  border-radius: 20px 0 20px 20px;
}
