.main-header-container {
  background-color: $layout-color;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .main-header {
//   width: 95%;
//   display: flex;
//   justify-content: space-between;
// }

// BEGIN overwrite bootstrap navbar props
.navbar {
  width: 95%;
}

.nav-link {
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

.navbar-brand {
  font-size: 2rem;
}
// END overwrite bootstrap navbar

.fa-bars {
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

.span-stock {
  color: $secondary-color;
}

.span-dock {
  color: $primary-color;
}
