#ticker {
  text-transform: uppercase;
}

.portfolio-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  h2 {
    margin-right: 20px;
  }
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.no-change {
  color: grey;
}

.check-price-btn {
  margin-bottom: 15px;
}

.transaction-menu {
  background-color: rgba(248, 248, 248, 0.5);
  padding: 2%;
  border-radius: 20px;
}