.ticker {
  text-transform: uppercase;
}

.portfolio-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  h2 {
    margin-right: 20px;
  }
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.no-change {
  color: grey;
}

.check-price-btn {
  margin-bottom: 15px;
}

.transaction-menu {
  background-color: rgba(248, 248, 248, 0.5);
  padding: 2%;
  border-radius: 20px;
}

.message {
  display: none;
  margin-top: 3%;
  padding: 3%;
  border-radius: 10px;
}

.message-success {
  color: green;
  background-color: rgba(222, 248, 222, 0.5);
}

.message-error {
  color: red;
  background-color: rgba(248, 222, 222, 0.5);
}

.price-per-share {
  cursor: default;
}

.total-price {
  font-weight: bold;
}
