@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'variables';
@import "./partials/*";

body {
  font-family: $primary-font, sans-serif;
}

.main-content-container {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  margin: 2% 0;
}

.main-content {
  width: 95vw;
}

a {
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}