@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import 'bootstrap';
@import 'rails_bootstrap_forms';
@import 'variables';
@import "./partials/*";

html {
  max-width: 100vw;
}

.main-content-container {
  display: flex;
  justify-content: center;
  min-height: 92vh;
 }

.main-content {
  width: 90vw;
  margin: 2vh 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.alert {
  animation: 1.5s fadeOut ease-in forwards;
  z-index: 1000;
  border-radius: 0;
  color: white;
  width: 100vw;
  position: absolute;
  left: 0;
  opacity: 0.9;
  text-align: center;
}


.alert-notice {
  background-color: green;
}

.alert-alert {
  background-color: darkred;
}

.center-btn {
  display: flex;
  justify-content: center;

  .btn {
    min-width: 50%;
    padding: 1% 0; 
    margin: 1% 0;
  }
}
