<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= stylesheet_link_tag 'https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css' %>

<h2>Transactions</h2>
<%= render 'table' %>

<%= javascript_include_tag('https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js') %>
<%= javascript_include_tag('transactions') %>
