<h1>Transactions</h1>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= transaction.updated_at %>
      <%= transaction.ticker %> | Qty: <%= transaction.qty %> | PPS: <%= transaction.price_per_share %>
    </li>
  <% end %>
</ul>
